// Place all the styles related to the leds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ledcolnew{
  margin: 9px;
  height: 578px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.16);
}