// Place all the styles related to the leds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ledcolnew{
  margin: 0px;
  height: 650px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.16);
}
.ledcolshow{
  margin: 5px;
  height: 635px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.16);
}
.ledcolupdate{
  margin: 0px;
  height: 640px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.16);
}
.bumpercol{
  margin: 5px;
  height: 635px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.16);
  
}
.letterlistdetails{
   font-size: 13px;
   text-align: left;
}
.letterlistdetails1{
  font-size: 14px;
   text-align: left;
}
.letterresultlist{
   font-size: 12px;
   text-align: left;
}
.letterresultlist1{
   font-size: 12px;
   text-align: left;
   color:#555;
}