// Place all the styles related to the screens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ledcol{
  margin: 9px;
  height: 680px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.16);
}
.screencol{
  margin: 9px;
  height: 680px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.16);
}
.letterlist{
   font-size: 11px;
   text-align: left;
}
ul{
   list-style-type: none;
   padding-left: 0;
}
.resultcol{
  margin: 9px;
  height: 680px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.16);
}
.ledcolmodal{
  margin: 9px;
  height: 315px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.60);
}
.screencolmodal{
  margin: 9px;
  height: 315px;
  overflow-y: auto;
  background-color: rgba(173, 172, 172, 0.60);
}
 .input-xs {
    height: 28px;
    width: 55px;
  
    font-size: 14px;
  
}

.js-panels_w-{
text-decoration:none;
}
.js-panels_w-:hover 
{
   text-decoration: none;
}
.js-panels_h-{
text-decoration:none;
}
.js-panels_h-:hover 
{
   text-decoration: none;
}
.js-panels_wp{
text-decoration:none;
}
.js-panels_wp:hover 
{
   text-decoration: none;
}
.js-panels_hp{
text-decoration:none;
}
.js-panels_hp:hover 
{
   text-decoration: none;
}
.modal-backdrop {
   background-color: rgba(30, 67, 107, 1.00);
}
.input-xl {
    height: 45px;
}